In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math as math

In [2]:
cities = ['London','Berlin','Warsaw','Paris']
cities

['London', 'Berlin', 'Warsaw', 'Paris']

In [3]:
pd.Series(cities)

0    London
1    Berlin
2    Warsaw
3     Paris
dtype: object

In [4]:
primeNumbers=(2,3,5,7,11,13,17,19)
pd.Series(primeNumbers)

0     2
1     3
2     5
3     7
4    11
5    13
6    17
7    19
dtype: int64

In [5]:
logicalValues = [True,True,False]
pd.Series(logicalValues)

0     True
1     True
2    False
dtype: bool

In [6]:
SpielbergFilmography = {'Jaws':1975,
                        '1941':1979,
                        'Indiana Jones and the Raiders of the Lost Ark':1981,
                        'E.T the Extra-Terrestrial':1982}

In [7]:
SpielbergFilmography

{'Jaws': 1975,
 '1941': 1979,
 'Indiana Jones and the Raiders of the Lost Ark': 1981,
 'E.T the Extra-Terrestrial': 1982}

In [8]:
pd.Series(SpielbergFilmography)

Jaws                                             1975
1941                                             1979
Indiana Jones and the Raiders of the Lost Ark    1981
E.T the Extra-Terrestrial                        1982
dtype: int64