In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math as math

In [4]:
stackOverflowSeries = pd.read_csv("/Users/kamilw/Desktop/Moje/PythonLearing/Pandas_Udemy/course-files/StackOverflowDeveloperSurvey.csv",usecols=['FormalEducation'])
stackOverflowSeries

                                         FormalEducation
0                                       Secondary school
1      Some college/university study without earning ...
2                                      Bachelor's degree
3                                        Doctoral degree
4                                        Master's degree
...                                                  ...
51387                                  Bachelor's degree
51388                                    Master's degree
51389  Some college/university study without earning ...
51390                                  Bachelor's degree
51391                                  Bachelor's degree

[51392 rows x 1 columns]

In [5]:
type(stackOverflowSeries)

pandas.core.frame.DataFrame

In [6]:
stackOverflowSeries.head()

                                     FormalEducation
0                                   Secondary school
1  Some college/university study without earning ...
2                                  Bachelor's degree
3                                    Doctoral degree
4                                    Master's degree

In [7]:
formalEducationSeries = pd.read_csv("/Users/kamilw/Desktop/Moje/PythonLearing/Pandas_Udemy/course-files/StackOverflowDeveloperSurvey.csv",usecols=['FormalEducation'],squeeze=True)
formalEducationSeries

0                                         Secondary school
1        Some college/university study without earning ...
2                                        Bachelor's degree
3                                          Doctoral degree
4                                          Master's degree
                               ...
51387                                    Bachelor's degree
51388                                      Master's degree
51389    Some college/university study without earning ...
51390                                    Bachelor's degree
51391                                    Bachelor's degree
Name: FormalEducation, Length: 51392, dtype: object

In [8]:
type(formalEducationSeries)

pandas.core.series.Series

In [9]:
formalEducationSeries.tail(10)

51382                                      Master's degree
51383               I never completed any formal education
51384                                    Bachelor's degree
51385                                      Master's degree
51386    Some college/university study without earning ...
51387                                    Bachelor's degree
51388                                      Master's degree
51389    Some college/university study without earning ...
51390                                    Bachelor's degree
51391                                    Bachelor's degree
Name: FormalEducation, dtype: object

In [10]:
allInfo = pd.read_csv("/Users/kamilw/Desktop/Moje/PythonLearing/Pandas_Udemy/course-files/StackOverflowDeveloperSurvey.csv")

In [17]:
country = allInfo['Country']

In [18]:
country.head()

0     United States
1    United Kingdom
2    United Kingdom
3     United States
4       Switzerland
Name: Country, dtype: object

In [20]:
filterOnlyUSA = country == "United States"
filterOnlyUSA

0         True
1        False
2        False
3         True
4        False
         ...
51387     True
51388    False
51389    False
51390     True
51391    False
Name: Country, Length: 51392, dtype: bool

In [21]:
filterOnlyUSA.head()

0     True
1    False
2    False
3     True
4    False
Name: Country, dtype: bool

In [22]:
stackOverflowSeries.where(filterOnlyUSA).dropna().head(10)

              FormalEducation
0            Secondary school
3             Doctoral degree
6             Master's degree
10          Bachelor's degree
15  Primary/elementary school
17          Bachelor's degree
18          Bachelor's degree
25            Master's degree
27          Bachelor's degree
29          Bachelor's degree

In [23]:
formalEducationSeries.where(filterOnlyUSA).dropna().head(10)

0              Secondary school
3               Doctoral degree
6               Master's degree
10            Bachelor's degree
15    Primary/elementary school
17            Bachelor's degree
18            Bachelor's degree
25              Master's degree
27            Bachelor's degree
29            Bachelor's degree
Name: FormalEducation, dtype: object