In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math as math

In [3]:
numbers=[1,2,3,11,12,13]
numSeries = pd.Series(numbers)
numSeries

0     1
1     2
2     3
3    11
4    12
5    13
dtype: int64

In [4]:
numSeries > 10

0    False
1    False
2    False
3     True
4     True
5     True
dtype: bool

In [5]:
numSeries %2 ==1

0     True
1    False
2     True
3     True
4    False
5     True
dtype: bool

In [8]:
numSeries.where(numSeries > 10).dropna()

3    11.0
4    12.0
5    13.0
dtype: float64

In [10]:
numSeries.where(numSeries % 2==1).dropna()

0     1.0
2     3.0
3    11.0
5    13.0
dtype: float64

In [11]:
numSeries.where(numSeries > 10 & numSeries % 2 == 1)

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [12]:
numbersGreater10 = numSeries > 10
numbersGreater10

0    False
1    False
2    False
3     True
4     True
5     True
dtype: bool

In [14]:
numbersOdd = numSeries % 2 == 1
numbersOdd

0     True
1    False
2     True
3     True
4    False
5     True
dtype: bool

In [15]:
numSeries.where(numbersGreater10 & numbersOdd)

0     NaN
1     NaN
2     NaN
3    11.0
4     NaN
5    13.0
dtype: float64

In [16]:
numSeries.where(numbersGreater10 & numbersOdd).dropna()

3    11.0
5    13.0
dtype: float64

In [17]:
numSeries.between(3,12)

0    False
1    False
2     True
3     True
4     True
5    False
dtype: bool

In [18]:
numSeries

0     1
1     2
2     3
3    11
4    12
5    13
dtype: int64

In [19]:
numSeries.where(numSeries.between(3,12))

0     NaN
1     NaN
2     3.0
3    11.0
4    12.0
5     NaN
dtype: float64

In [20]:
valuesToShow = numSeries.between(3,12)

In [21]:
numSeries.where(valuesToShow)

0     NaN
1     NaN
2     3.0
3    11.0
4    12.0
5     NaN
dtype: float64