In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math as math

In [11]:
salary = pd.read_csv('/Users/kamilw/Desktop/Moje/PythonLearing/Pandas_Udemy/course-files/StackOverflowDeveloperSurvey.csv',usecols=['Salary'],squeeze=True).dropna()
salary.head(5)

2     113750.0
14    100000.0
17    130000.0
18     82500.0
22    100764.0
Name: Salary, dtype: float64

In [12]:
salary.sort_values(ascending=False).head(5)

31600    197000.0
27943    195000.0
6743     195000.0
41398    195000.0
1696     195000.0
Name: Salary, dtype: float64

In [13]:
salary.sort_values(ascending=True).head(5)

51144    0.0
23953    0.0
23907    0.0
44841    0.0
2951     0.0
Name: Salary, dtype: float64

In [16]:
salary.sort_values(ascending=False,inplace=True)
salary.head(10)

31600    197000.0
27943    195000.0
6743     195000.0
41398    195000.0
1696     195000.0
18237    195000.0
32622    194000.0
6717     193750.0
30550    193000.0
14363    192000.0
Name: Salary, dtype: float64

In [17]:
salary.sort_index(ascending=False)

51390     40000.000000
51387     58000.000000
51382     32258.064516
51378    107526.881720
51371     74193.548387
             ...
22       100764.000000
18        82500.000000
17       130000.000000
14       100000.000000
2        113750.000000
Name: Salary, Length: 12891, dtype: float64

In [19]:
maxSalaries = salary.sort_values(ascending=False).head(100)
maxSalaries

31600    197000.0
27943    195000.0
6743     195000.0
41398    195000.0
1696     195000.0
           ...
26473    170000.0
21133    170000.0
24272    170000.0
274      170000.0
6429     170000.0
Name: Salary, Length: 100, dtype: float64

In [20]:
minSalaries = salary.sort_values(ascending=True).head(100)
minSalaries

51144      0.000000
23953      0.000000
2951       0.000000
44841      0.000000
23907      0.000000
            ...
15179    176.185582
33212    178.784267
50569    198.208780
48674    198.649186
1077     200.000000
Name: Salary, Length: 100, dtype: float64

In [21]:
maxSalaries.mean()

180198.1045586777

In [22]:
minSalaries.mean()

67.08388907133795