In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math as math

In [5]:
pok = pd.read_csv('/Users/kamilw/Desktop/Moje/PythonLearing/Pandas_Udemy/course-files/pokemon.csv',usecols=['Name'],squeeze=True)

In [6]:
pok.head(5)

0                Bulbasaur
1                  Ivysaur
2                 Venusaur
3    VenusaurMega Venusaur
4               Charmander
Name: Name, dtype: object

In [7]:
pok.sort_values().head()

510                  Abomasnow
511    AbomasnowMega Abomasnow
68                        Abra
392                      Absol
393            AbsolMega Absol
Name: Name, dtype: object

In [8]:
pok.sort_values(ascending=False).head()

794    Zygarde50% Forme
695            Zweilous
46                Zubat
631               Zorua
632             Zoroark
Name: Name, dtype: object

In [9]:
pok.head(5)

0                Bulbasaur
1                  Ivysaur
2                 Venusaur
3    VenusaurMega Venusaur
4               Charmander
Name: Name, dtype: object

In [10]:
pok.sort_values(inplace=True)

In [11]:
pok.head(5)

510                  Abomasnow
511    AbomasnowMega Abomasnow
68                        Abra
392                      Absol
393            AbsolMega Absol
Name: Name, dtype: object

In [12]:
pok.sort_index().head()

0                Bulbasaur
1                  Ivysaur
2                 Venusaur
3    VenusaurMega Venusaur
4               Charmander
Name: Name, dtype: object

In [13]:
pok = pok.sort_index(ascending=False)

In [14]:
pok

799                Volcanion
798       HoopaHoopa Unbound
797      HoopaHoopa Confined
796      DiancieMega Diancie
795                  Diancie
               ...
4                 Charmander
3      VenusaurMega Venusaur
2                   Venusaur
1                    Ivysaur
0                  Bulbasaur
Name: Name, Length: 800, dtype: object