In [1]:
import pandas as pd

In [3]:
fuel = pd.read_csv('/Users/kamilw/Desktop/Moje/PythonLearing/Pandas_Udemy/course-files/fuel.csv',low_memory=False,usecols=['Vehicle ID','Year','Make','Model','Class','Fuel Type','Combined MPG (FT1)'])
fuel.head()

,Vehicle ID,Year,Make,Model,Class,Fuel Type,Combined MPG (FT1)
0,26587,1984,Alfa Romeo,GT V6 2.5,Minicompact Cars,Regular,20.0
1,27705,1984,Alfa Romeo,GT V6 2.5,Minicompact Cars,Regular,20.0
2,26561,1984,Alfa Romeo,Spider Veloce 2000,Two Seaters,Regular,21.0
3,27681,1984,Alfa Romeo,Spider Veloce 2000,Two Seaters,Regular,21.0
4,27550,1984,AM General,DJ Po Vehicle 2WD,Special Purpose Vehicle 2WD,Regular,17.0

In [4]:
fuel.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31684 entries, 0 to 31683
Data columns (total 7 columns):
Vehicle ID            31684 non-null int64
Year                  31684 non-null int64
Make                  31684 non-null object
Model                 31683 non-null object
Class                 31683 non-null object
Fuel Type             31683 non-null object
Combined MPG (FT1)    31683 non-null float64
dtypes: float64(1), int64(2), object(4)
memory usage: 1.7+ MB

In [5]:
fuel.dtypes.value_counts() # informacja ile jest kolumn poszczegolnych typow

object     4
int64      2
float64    1
dtype: int64

In [7]:
fuel.dtypes # informacja o typach każdej z kolumn

Vehicle ID              int64
Year                    int64
Make                   object
Model                  object
Class                  object
Fuel Type              object
Combined MPG (FT1)    float64
dtype: object

In [9]:
"""5. Kolumna 'Make' zawiera informację o producentach samochodów. Wyświetl 10 producentów wraz z informacją
o ilości samochodów tego producenta opisanych w obiekcie frame. Skorzystaj z dedykowanej do tego celu
medody serii danych."""
fuel['Make'].value_counts().head(10) # zwraca informację ile razy pojawia się rekord w kolumnie 'Make'

Chevrolet        3389
Ford             2721
Dodge            2361
GMC              2174
Toyota           1599
BMW              1180
Nissan           1082
Mercedes-Benz     948
Mitsubishi        937
Pontiac           893
Name: Make, dtype: int64

In [10]:
"""6. Wyświetl informacje o indeksie obiektu fuel"""
fuel.index

RangeIndex(start=0, stop=31684, step=1)

In [11]:
"""7. Wyświetl informacje o kolumnach obiektu fuel"""
fuel.columns

Index(['Vehicle ID', 'Year', 'Make', 'Model', 'Class', 'Fuel Type',
       'Combined MPG (FT1)'],
      dtype='object')

In [12]:
"""8. Wyświetl informacje o wartościach obiektu fuel"""
fuel.values

array([[26587, 1984, 'Alfa Romeo', ..., 'Minicompact Cars', 'Regular',
        20.0],
       [27705, 1984, 'Alfa Romeo', ..., 'Minicompact Cars', 'Regular',
        20.0],
       [26561, 1984, 'Alfa Romeo', ..., 'Two Seaters', 'Regular', 21.0],
       ...,
       [32065, 2012, 'Mitsubishi', ..., 'Compact Cars', 'Premium', 19.0],
       [32064, 2012, 'Mitsubishi', ..., 'Compact Cars', 'Premium', 19.0],
       [32106, 2012, 'Mitsubish', ..., nan, nan, nan]], dtype=object)

In [13]:
"""9. Wyświetl informacje o "osiach" obiektu fuel"""
fuel.axes

[RangeIndex(start=0, stop=31684, step=1),
 Index(['Vehicle ID', 'Year', 'Make', 'Model', 'Class', 'Fuel Type',
        'Combined MPG (FT1)'],
       dtype='object')]

In [14]:
"""10. Wyświetl informacje o "kształcie" obiektu fuel - ile ma wierszy i ile kolumn"""
fuel.shape

(31684, 7)

In [20]:
'''11. Porównaj co zwraca metoda count wywołana na rzecz frame, a...'''
fuel.count()

Vehicle ID            31684
Year                  31684
Make                  31684
Model                 31683
Class                 31683
Fuel Type             31683
Combined MPG (FT1)    31683
dtype: int64

In [19]:
'''...12. co zwraca funkcja len'''
len(fuel)

31684