In [1]:
'''1.Zaimportuj moduł pandas i nadaj mu standardowy alias. Do zmiennej fuel wczytaj zawartość pliku fuel.csv.
Podczas wczytywania skorzystaj z dodatkowego argumentu low_memory=False, pobierz tylko następujące
kolumny: 'Vehicle ID','Year','Make','Model','Class','Fuel Type','Combined MPG (FT1)'. Wyświetl nagłówek tak
utworzonego Data Frame.
'''
import pandas as pd
fuel = pd.read_csv('/Users/kamilw/Desktop/Moje/PythonLearing/Pandas_Udemy/course-files/fuel.csv',low_memory=False,usecols=['Vehicle ID','Year','Make','Model','Class','Fuel Type','Combined MPG (FT1)'],index_col='Vehicle ID')
fuel.head()

,Year,Make,Model,Class,Fuel Type,Combined MPG (FT1)
Vehicle ID,,,,,,
26587,1984,Alfa Romeo,GT V6 2.5,Minicompact Cars,Regular,20.0
27705,1984,Alfa Romeo,GT V6 2.5,Minicompact Cars,Regular,20.0
26561,1984,Alfa Romeo,Spider Veloce 2000,Two Seaters,Regular,21.0
27681,1984,Alfa Romeo,Spider Veloce 2000,Two Seaters,Regular,21.0
27550,1984,AM General,DJ Po Vehicle 2WD,Special Purpose Vehicle 2WD,Regular,17.0

In [3]:
'''2. Wyświetl nagłówek serii zawierającej tylko dane z kolumny Make'''
fuel['Make'].head()

Vehicle ID
26587    Alfa Romeo
27705    Alfa Romeo
26561    Alfa Romeo
27681    Alfa Romeo
27550    AM General
Name: Make, dtype: object

In [7]:
'''3. Korzystając z funkcji wyświetlającej dla serii danych ilościowe informacje o wartościach z kolumny wyświetl 5
najczęściej ocenianych w pliku fuel producentów samochodów (kolumna Make)'''
# .value_counts() - wyświetla ilościowe informacje o wartościach
fuel['Make'].value_counts().head(5)

Chevrolet    3389
Ford         2721
Dodge        2361
GMC          2174
Toyota       1599
Name: Make, dtype: int64

In [9]:
'''4. Wyświetl informacje o samochodzie znajdujacym się na pozycji 1873'''
fuel.loc[1873]

Year                             1986
Make                       Mitsubishi
Model                         Starion
Class                 Subcompact Cars
Fuel Type                     Premium
Combined MPG (FT1)                 19
Name: 1873, dtype: object

In [10]:
'''5. Wyświetl informacje o ilości mil jakie można przejechać na galonie paliwa (kolumna Combined MPG (FT1))
dla samochodu z pozycji 1873'''

fuel.loc[1873,'Combined MPG (FT1)']

19.0

In [23]:
'''6. Sprawdź ile najwiecej mil da się przejechać samochodem na jednym galonie paliwa (innymi słowy poszukaj
maksymalnej wartości w kolumnie Combined MPG (FT1))'''

fuel['Combined MPG (FT1)'].max()

112.0

In [28]:
'''7. Znajdź indeks opisujący samochód z wynikiem znalezionym w poprzednim punkcie...'''

# czyli: znalazłem wcześniej, że maksymalna wartość w "Combined MPG (FT1)" to 112
# teraz szukam na jakim indeksie znajduje się masksymalna wartość w "Combined MPG (FT1)"
fuel['Combined MPG (FT1)'].idxmax()

31673

In [29]:
'''8. ...a następnie posiadając ten indeks, wyświetl wszystkie dostępne w zmiennej fuel informacje o tym
samochodzie'''

fuel.loc[31673]

Year                             2012
Make                       Mitsubishi
Model                          i-MiEV
Class                 Subcompact Cars
Fuel Type                 Electricity
Combined MPG (FT1)                112
Name: 31673, dtype: object

In [31]:
'''9. Połącz polecenia, które zbudowałeś w 2 poprzednich punktach, tak, aby potrzebna informacja była
uzyskiwana w pojedynczej instrukcji.'''

fuel.loc[fuel["Combined MPG (FT1)"].idxmax()]

Year                             2012
Make                       Mitsubishi
Model                          i-MiEV
Class                 Subcompact Cars
Fuel Type                 Electricity
Combined MPG (FT1)                112
Name: 31673, dtype: object

In [35]:
'''10. Utwórz nowy obiekt data frame nazwany shortFuel, który posiada tylko 2 kolumny skopiowane z obiektu fuel:
Make i Model'''

shortFuel = fuel[['Make','Model']]
shortFuel.head()

                  Make               Model
Vehicle ID
26587       Alfa Romeo           GT V6 2.5
27705       Alfa Romeo           GT V6 2.5
26561       Alfa Romeo  Spider Veloce 2000
27681       Alfa Romeo  Spider Veloce 2000
27550       AM General   DJ Po Vehicle 2WD