In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math as math
frame = pd.read_csv('/Users/kamilw/Desktop/Moje/PythonLearing/Pandas_Udemy/course-files/Mcdonalds.csv',usecols=['Item','Category','Serving Size','Calories','TotalFat'])
frame.head()

,Category,Item,Serving Size,Calories,TotalFat
0,Breakfast,Egg McMuffin,4.8 oz (136 g),300,13.0
1,Breakfast,Egg White Delight,4.8 oz (135 g),250,8.0
2,Breakfast,Sausage McMuffin,3.9 oz (111 g),370,23.0
3,Breakfast,Sausage McMuffin with Egg,5.7 oz (161 g),450,28.0
4,Breakfast,Sausage McMuffin with Egg Whites,5.7 oz (161 g),400,23.0

In [2]:
# sprawdzenie jakich typów są kolumny
frame.dtypes

Category         object
Item             object
Serving Size     object
Calories          int64
TotalFat        float64
dtype: object

In [4]:
# sprawdzenie ile pamięci zajmuje dokładnie DataFrame
frame.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 260 entries, 0 to 259
Data columns (total 5 columns):
Category        260 non-null object
Item            260 non-null object
Serving Size    260 non-null object
Calories        260 non-null int64
TotalFat        260 non-null float64
dtypes: float64(1), int64(1), object(3)
memory usage: 61.7 KB

In [6]:
# zamiana wartości NaN
frame.loc[1,'Serving Size'] = np.NaN
frame.head()

,Category,Item,Serving Size,Calories,TotalFat
0,Breakfast,Egg McMuffin,4.8 oz (136 g),300,13.0
1,Breakfast,Egg White Delight,NaN,250,8.0
2,Breakfast,Sausage McMuffin,3.9 oz (111 g),370,23.0
3,Breakfast,Sausage McMuffin with Egg,5.7 oz (161 g),450,28.0
4,Breakfast,Sausage McMuffin with Egg Whites,5.7 oz (161 g),400,23.0

In [7]:
# zamiana wartości na NaN
frame.loc[2,'Calories'] = np.NaN
frame.head()

,Category,Item,Serving Size,Calories,TotalFat
0,Breakfast,Egg McMuffin,4.8 oz (136 g),300.0,13.0
1,Breakfast,Egg White Delight,NaN,250.0,8.0
2,Breakfast,Sausage McMuffin,3.9 oz (111 g),NaN,23.0
3,Breakfast,Sausage McMuffin with Egg,5.7 oz (161 g),450.0,28.0
4,Breakfast,Sausage McMuffin with Egg Whites,5.7 oz (161 g),400.0,23.0

In [8]:
# sprawdzam co się stało z typami po podmienianiu wartości na NaN
frame.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 260 entries, 0 to 259
Data columns (total 5 columns):
Category        260 non-null object
Item            260 non-null object
Serving Size    259 non-null object
Calories        259 non-null float64
TotalFat        260 non-null float64
dtypes: float64(2), object(3)
memory usage: 61.6 KB

In [9]:
# spróbujemy odwrócić zmiany aby kolumna Calories znów miała typ int #1
frame['Calories'].astype('int') #Cannot convert non-finite values (NA or inf) to integer'
# jeżeli kolumna zawiera NaN nie może zostać skonwertowana na int

ValueError: Cannot convert non-finite values (NA or inf) to integer

In [10]:
# próba zmiany na typu kolumny #2
frame['Calories'].fillna(value=0,inplace=True)
frame.head()

,Category,Item,Serving Size,Calories,TotalFat
0,Breakfast,Egg McMuffin,4.8 oz (136 g),300.0,13.0
1,Breakfast,Egg White Delight,NaN,250.0,8.0
2,Breakfast,Sausage McMuffin,3.9 oz (111 g),0.0,23.0
3,Breakfast,Sausage McMuffin with Egg,5.7 oz (161 g),450.0,28.0
4,Breakfast,Sausage McMuffin with Egg Whites,5.7 oz (161 g),400.0,23.0

In [14]:
frame['Calories'] = frame['Calories'].astype('int32') #int dla int64

In [15]:
frame.head()

,Category,Item,Serving Size,Calories,TotalFat
0,Breakfast,Egg McMuffin,4.8 oz (136 g),300,13.0
1,Breakfast,Egg White Delight,NaN,250,8.0
2,Breakfast,Sausage McMuffin,3.9 oz (111 g),0,23.0
3,Breakfast,Sausage McMuffin with Egg,5.7 oz (161 g),450,28.0
4,Breakfast,Sausage McMuffin with Egg Whites,5.7 oz (161 g),400,23.0

In [16]:
frame.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 260 entries, 0 to 259
Data columns (total 5 columns):
Category        260 non-null object
Item            260 non-null object
Serving Size    259 non-null object
Calories        260 non-null int32
TotalFat        260 non-null float64
dtypes: float64(1), int32(1), object(3)
memory usage: 60.6 KB

In [17]:
#sprawdzenie ile wartości w Category ile razy się powtarza
frame['Category'].value_counts()

Coffee & Tea          95
Breakfast             42
Smoothies & Shakes    28
Chicken & Fish        27
Beverages             27
Beef & Pork           15
Snacks & Sides        13
Desserts               7
Salads                 6
Name: Category, dtype: int64

In [18]:
# zamiana typu kolumny Category z typu 'object' na typ 'category' i nadpisanie jej na stałe w DataFrame
# category - typ w którym dużo wartości się powtarza
frame['Category'] = frame['Category'].astype('category')

In [19]:
# kolumna Category ma typ category i zużycie pamięci się zmniejszyło
frame.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 260 entries, 0 to 259
Data columns (total 5 columns):
Category        260 non-null category
Item            260 non-null object
Serving Size    259 non-null object
Calories        260 non-null int32
TotalFat        260 non-null float64
dtypes: category(1), float64(1), int32(1), object(2)
memory usage: 44.3 KB

In [20]:
frame.head()

,Category,Item,Serving Size,Calories,TotalFat
0,Breakfast,Egg McMuffin,4.8 oz (136 g),300,13.0
1,Breakfast,Egg White Delight,NaN,250,8.0
2,Breakfast,Sausage McMuffin,3.9 oz (111 g),0,23.0
3,Breakfast,Sausage McMuffin with Egg,5.7 oz (161 g),450,28.0
4,Breakfast,Sausage McMuffin with Egg Whites,5.7 oz (161 g),400,23.0

In [22]:
frame['Serving Size'].value_counts()

16 fl oz cup       45
12 fl oz cup       38
22 fl oz cup       20
20 fl oz cup       16
21 fl oz cup        7
                   ..
6.5 oz (185 g)      1
9.6 oz (272 g)      1
9 oz (255 g)        1
13.4 oz (381 g)     1
22.8 oz (646 g)     1
Name: Serving Size, Length: 106, dtype: int64

In [24]:
# optymalizacjia zużycia pamięci przez kolumnę Serving Size
frame['Serving Size'] = frame['Serving Size'].astype('category')

In [25]:
frame.head()

,Category,Item,Serving Size,Calories,TotalFat
0,Breakfast,Egg McMuffin,4.8 oz (136 g),300,13.0
1,Breakfast,Egg White Delight,NaN,250,8.0
2,Breakfast,Sausage McMuffin,3.9 oz (111 g),0,23.0
3,Breakfast,Sausage McMuffin with Egg,5.7 oz (161 g),450,28.0
4,Breakfast,Sausage McMuffin with Egg Whites,5.7 oz (161 g),400,23.0

In [26]:
frame.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 260 entries, 0 to 259
Data columns (total 5 columns):
Category        260 non-null category
Item            260 non-null object
Serving Size    259 non-null category
Calories        260 non-null int32
TotalFat        260 non-null float64
dtypes: category(2), float64(1), int32(1), object(1)
memory usage: 39.2 KB