In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math as math
frame = pd.read_csv('/Users/kamilw/Desktop/Moje/PythonLearing/Pandas_Udemy/course-files/Mcdonalds.csv',usecols=['Item','Category','Serving Size','Calories','TotalFat'])
frame.head()

,Category,Item,Serving Size,Calories,TotalFat
0,Breakfast,Egg McMuffin,4.8 oz (136 g),300,13.0
1,Breakfast,Egg White Delight,4.8 oz (135 g),250,8.0
2,Breakfast,Sausage McMuffin,3.9 oz (111 g),370,23.0
3,Breakfast,Sausage McMuffin with Egg,5.7 oz (161 g),450,28.0
4,Breakfast,Sausage McMuffin with Egg Whites,5.7 oz (161 g),400,23.0

In [2]:
# chcemy wyflitrować te pozycje z menu które mają więcej niż 400kalorii
has400CalOrMore = frame['Calories'] >= 400

In [3]:
has400CalOrMore[:5]

0    False
1    False
2    False
3     True
4     True
Name: Calories, dtype: bool

In [4]:
# w metodzie where te wartości które nie spełniają są wyświetlane ale mają wartość NaN
# frame.where(filterSeries)
frame.where(has400CalOrMore).head()

,Category,Item,Serving Size,Calories,TotalFat
0,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN
3,Breakfast,Sausage McMuffin with Egg,5.7 oz (161 g),450.0,28.0
4,Breakfast,Sausage McMuffin with Egg Whites,5.7 oz (161 g),400.0,23.0

In [5]:
frame[has400CalOrMore].head()

,Category,Item,Serving Size,Calories,TotalFat
3,Breakfast,Sausage McMuffin with Egg,5.7 oz (161 g),450,28.0
4,Breakfast,Sausage McMuffin with Egg Whites,5.7 oz (161 g),400,23.0
5,Breakfast,Steak & Egg McMuffin,6.5 oz (185 g),430,23.0
6,Breakfast,"Bacon, Egg & Cheese Biscuit (Regular Biscuit)",5.3 oz (150 g),460,26.0
7,Breakfast,"Bacon, Egg & Cheese Biscuit (Large Biscuit)",5.8 oz (164 g),520,30.0

In [6]:
# jak się pozbyć NaN z where
frame.where(has400CalOrMore).dropna(how='all').head()

,Category,Item,Serving Size,Calories,TotalFat
3,Breakfast,Sausage McMuffin with Egg,5.7 oz (161 g),450.0,28.0
4,Breakfast,Sausage McMuffin with Egg Whites,5.7 oz (161 g),400.0,23.0
5,Breakfast,Steak & Egg McMuffin,6.5 oz (185 g),430.0,23.0
6,Breakfast,"Bacon, Egg & Cheese Biscuit (Regular Biscuit)",5.3 oz (150 g),460.0,26.0
7,Breakfast,"Bacon, Egg & Cheese Biscuit (Large Biscuit)",5.8 oz (164 g),520.0,30.0

In [8]:
# query
# frame.query(expression)
# chcemy wyświetlić te dania które należą do kategorii Dessserts
frame.query('Category == "Desserts"').head()

     Category                   Item     Serving Size  Calories  TotalFat
103  Desserts        Baked Apple Pie    2.7 oz (77 g)       250      13.0
104  Desserts  Chocolate Chip Cookie  1 cookie (33 g)       160       8.0
105  Desserts  Oatmeal Raisin Cookie  1 cookie (33 g)       150       6.0
106  Desserts    Kids Ice Cream Cone      1 oz (29 g)        45       1.5
107  Desserts       Hot Fudge Sundae   6.3 oz (179 g)       330       9.0

In [10]:
# tutaj chcemy aby kategoria należała do listy kategorii (elementy listy w "")
frame.query('Category in ["Desserts","Beverages"]').head()

     Category                   Item     Serving Size  Calories  TotalFat
103  Desserts        Baked Apple Pie    2.7 oz (77 g)       250      13.0
104  Desserts  Chocolate Chip Cookie  1 cookie (33 g)       160       8.0
105  Desserts  Oatmeal Raisin Cookie  1 cookie (33 g)       150       6.0
106  Desserts    Kids Ice Cream Cone      1 oz (29 g)        45       1.5
107  Desserts       Hot Fudge Sundae   6.3 oz (179 g)       330       9.0

In [11]:
# tutaj chcemy żeby wyświetlone były tylko te produkty które są desearmi i mają mniej niż 200 kalorii
frame.query('Category == "Desserts" and Calories < 200').head()

     Category                   Item     Serving Size  Calories  TotalFat
104  Desserts  Chocolate Chip Cookie  1 cookie (33 g)       160       8.0
105  Desserts  Oatmeal Raisin Cookie  1 cookie (33 g)       150       6.0
106  Desserts    Kids Ice Cream Cone      1 oz (29 g)        45       1.5