In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math as math
frame = pd.read_csv('/Users/kamilw/Desktop/Moje/PythonLearing/Pandas_Udemy/course-files/Mcdonalds.csv',usecols=['Item','Category','Serving Size','Calories','TotalFat'])

In [2]:
color = ['green','green','blue','blue','red','red','white']
size = ['S','S','S','M','M','M','L']
gender = ['M','W','M','W','M','W','U']
clothes = pd.DataFrame({'color':color,'size':size,'gender':gender})
clothes

   color size gender
0  green    S      M
1  green    S      W
2   blue    S      M
3   blue    M      W
4    red    M      M
5    red    M      W
6  white    L      U

In [3]:
# .is_unique
# sprawdza czy wartości w serii color są unikalne
clothes['color'].is_unique

False

In [4]:
# zwróć mi listę tylko i wyłącznie kolorów, które się nie powtarzają, listę wartości, które są unikalne
# wychodzi na to, że jak się i tak powtarzają to wartość zostanie wymieniona ale tylko raz.
clothes['color'].unique()

array(['green', 'blue', 'red', 'white'], dtype=object)

In [5]:
# ile jest tych wartości unikalnych
clothes['color'].nunique()

4

In [7]:
# zadziało tal samo jak .nunique(), nie zadziała jeśli na liście jest NaN
len(clothes['color'].unique())

4

In [8]:
# chochliki
clothes.loc[6,'color'] = np.NaN

In [9]:
clothes

   color size gender
0  green    S      M
1  green    S      W
2   blue    S      M
3   blue    M      W
4    red    M      M
5    red    M      W
6    NaN    L      U

In [10]:
# sprawdzenie jak zadziała .unique() kiedy jest NaN
clothes['color'].unique()
# wylistowała NaN

array(['green', 'blue', 'red', nan], dtype=object)

In [11]:
# sprawdzenie jak zadziała .nunique() kiedy jest NaN
clothes['color'].nunique()
# nie wylistowała NaN

3

In [12]:
# sprawdzenie jak zadziała len() kiedy jest NaN
len(clothes['color'].unique())
# wylistowała NaN

4

In [13]:
# .nunique() - omija NaN
# len() - nie omija NaN

In [14]:
# .duplicated() - wykrycie czy istnieją wartości, które się duplikują i nastepnie od 'keep', 
# będą przeznaczone do zostawienia lub usunięcia
# 'first' - zostawia pierwszy element, który się powtarza
clothes['color'].duplicated(keep='first')

0    False
1     True
2    False
3     True
4    False
5     True
6    False
Name: color, dtype: bool

In [15]:
clothes

   color size gender
0  green    S      M
1  green    S      W
2   blue    S      M
3   blue    M      W
4    red    M      M
5    red    M      W
6    NaN    L      U

In [16]:
# zostawia ostatni element, który się powtarza i traktuje go jako unikalny
clothes['color'].duplicated(keep='last')

0     True
1    False
2     True
3    False
4     True
5    False
6    False
Name: color, dtype: bool

In [17]:
# keep = False - nie pozostawiaj wartości jeśli się powtarzają
clothes['color'].duplicated(keep=False)

0     True
1     True
2     True
3     True
4     True
5     True
6    False
Name: color, dtype: bool

In [18]:
# filtrowanie
# deklaracja zmiennej do filtrowania
uniqueValues = clothes['color'].duplicated(keep='first')

In [19]:
# filtrowanie przy użyciu zmiennej
clothes[uniqueValues]
# zostały zwrócone wiersze: 1,3,5 czyli powtarzające się

   color size gender
1  green    S      W
3   blue    M      W
5    red    M      W

In [ ]:
# jeżeli chciałbym mieć zwrócone niepowtarzające:
clothes[~uniqueValues]
# wylistowane 0,2,4,6 mimo, że się powtarzają bo keep=first
# mam wrażenie, że pierwsza wartość jest uznawana za unikalną a dopiero druga taka sama jako pierwsza powtarzająca

In [21]:
# kiedy chcemy usunąć powtarzające się
# .drop_duplicates()
clothes.drop_duplicates(subset=['color'],keep='first')
# keep='first' - jeśli dwa kolory się powtarzają to weź pierwszy wiersz

   color size gender
0  green    S      M
2   blue    S      M
4    red    M      M
6    NaN    L      U

In [22]:
clothes.drop_duplicates(['color','size'])
# wartość jest unikalna jeśli kombinacja koloru i rozmiaru jest unikalna, gdyby dwa prodkty były teo samego koloru
# i rozmiaru pojawiło by się tylko pierwsze pojawienie się.

   color size gender
0  green    S      M
2   blue    S      M
3   blue    M      W
4    red    M      M
6    NaN    L      U

In [23]:
clothes

   color size gender
0  green    S      M
1  green    S      W
2   blue    S      M
3   blue    M      W
4    red    M      M
5    red    M      W
6    NaN    L      U

In [ ]:
# series.unique()
# series.nunique()
# series.is_unique
# dataframe.duplicated()
# dataframe.drop_duplicates()
#      keep='first'
#      keep='last'
#      keep=False