In [2]:
"""1. Zaimportuj moduł pandas oraz numpy i nadaj im standardowe aliasy. Do zmiennej surveys wczytaj
zawartość pliku StackOverflowDeveloperSurvey2018.csv. Pobierz tylko następujące kolumny:
'Country','Gender','OperatingSystem'. Skorzystaj z parametru low_memory=False. Wyświetl nagłówek
tak utworzonego Data Frame"""

import pandas as pd
import numpy as np
surveys = pd.read_csv('/Users/kamilw/Desktop/Moje/PythonLearing/Pandas_Udemy/course-files/StackOverflowDeveloperSurvey2018.csv',usecols=['Country','Gender','OperatingSystem'],low_memory=False)
surveys.head()

          Country OperatingSystem Gender
0           Kenya     Linux-based   Male
1  United Kingdom     Linux-based   Male
2   United States             NaN    NaN
3   United States         Windows   Male
4    South Africa         Windows   Male

In [4]:
"""2. Sprawdź czy kolumna Country zawiera wartości unikalne"""
surveys['Country'].is_unique

False

In [5]:
surveys.Country.is_unique

False

In [8]:
"""3. Wyznacz wszystkie kraje, z jakich pochodzą uczestnicy ankiety. (Wystarczy jak wyświetlisz pierwszych
kilka)"""

#chciałem normalnie wyświetlić Country ale kraje mogły się powtarzać, dlatego trzeba .unique()
surveys.Country.unique()[:10]

array(['Kenya', 'United Kingdom', 'United States', 'South Africa',
       'Nigeria', 'India', 'Spain', 'Croatia', 'Netherlands', 'Israel'],
      dtype=object)

In [10]:
"""4. Policz ile tych krajów jest (raz pomijając wartość NaN a raz uwzględniając ją)"""

print(surveys.Country.nunique())
print(len(surveys.Country.unique()))

183
184

In [23]:
"""5. Utwórz serię wartości True/False duplicatesKeepFirst zawierającą informacje o tym czy wystąpienie kraju
w surveys jest pierwsze czy kolejne."""

duplicatesKeepFirst1 = surveys.Country.duplicated(keep='first')
duplicatesKeepFirst = surveys.duplicated(subset='Country') # keep='first' - domyslnie
duplicatesKeepFirst.head()

0    False
1    False
2    False
3     True
4    False
dtype: bool

In [20]:
"""6. Wyświetl pierwszych kilka ankiet, które pochodzą z różnych krajów (skorzystaj z duplicatedKeepFirst)"""

surveys[~duplicatesKeepFirst].head()

          Country OperatingSystem  Gender
0           Kenya     Linux-based    Male
1  United Kingdom     Linux-based    Male
2   United States             NaN     NaN
4    South Africa         Windows    Male
7         Nigeria         Windows  Female

In [28]:
"""7. Ile krajów zostanie zwróconych w poprzednim punkcie? Nim uruchomisz odpowiednie polecenie, spróbuj
przewidzieć tą wartość"""

len(surveys.Country.unique())

184

In [29]:
"""8. Usuń powtarzające się wiersze ze względu na wartości w kolumnach 'Country', 'OperatingSystem'"""

surveys.drop_duplicates(subset=['Country','OperatingSystem'],inplace=True)

In [31]:
"""9. Wyświetl pozostałe w dataframe surveys wiersze dotyczące Twojego kraju"""

surveys.query('Country == "Poland"')

      Country OperatingSystem Gender
30     Poland     Linux-based   Male
34     Poland         Windows   Male
232    Poland             NaN    NaN
854    Poland           MacOS   Male
72587  Poland        BSD/Unix    NaN