In [15]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math as math
frame = pd.read_csv("/Users/kamilw/Desktop/Moje/PythonLearing/Pandas_Udemy/course-files/insurance.csv")

In [16]:
frame.head()

   ID  District   Group    Age  Holders  Claims
0   1         1     <1l    <25      197      38
1   2         1     <1l  25-29      264      35
2   3         1     <1l  30-35      246      20
3   4         1     <1l    >35     1680     156
4   5         1  1-1.5l    <25      284      63

In [17]:
# loc - identyfikator wiersza, kolumna
# modyfikacja pojedynczej komorki
frame.loc[2,"Claims"]

20

In [18]:
# sposób 1
frame.loc[2,'Claims'] = 19

In [19]:
frame.head()

   ID  District   Group    Age  Holders  Claims
0   1         1     <1l    <25      197      38
1   2         1     <1l  25-29      264      35
2   3         1     <1l  30-35      246      19
3   4         1     <1l    >35     1680     156
4   5         1  1-1.5l    <25      284      63

In [20]:
# sposób 2
frame.loc[2,'Claims'] = frame.loc[2,"Claims"] + 1

In [21]:
frame.head()

   ID  District   Group    Age  Holders  Claims
0   1         1     <1l    <25      197      38
1   2         1     <1l  25-29      264      35
2   3         1     <1l  30-35      246      20
3   4         1     <1l    >35     1680     156
4   5         1  1-1.5l    <25      284      63

In [22]:
# sposób 3
frame.loc[2,"Claims"] += 1

In [23]:
frame.head()

   ID  District   Group    Age  Holders  Claims
0   1         1     <1l    <25      197      38
1   2         1     <1l  25-29      264      35
2   3         1     <1l  30-35      246      21
3   4         1     <1l    >35     1680     156
4   5         1  1-1.5l    <25      284      63

In [24]:
frame["Age"] == "<25"

0      True
1     False
2     False
3     False
4      True
      ...
59    False
60     True
61    False
62    False
63    False
Name: Age, Length: 64, dtype: bool

In [25]:
isYounger25 = frame["Age"] == "<25"

In [28]:
frame.where(isYounger25).dropna().head()
# z where dropna() trzeba uwazac bo jezeli w jakims innym miejscu bylo NaN to dropna usunie wartosc z tamtad

      ID  District   Group  Age  Holders  Claims
0    1.0       1.0     <1l  <25    197.0    38.0
4    5.0       1.0  1-1.5l  <25    284.0    63.0
8    9.0       1.0  1.5-2l  <25    133.0    19.0
12  13.0       1.0     >2l  <25     24.0     4.0
16  17.0       2.0     <1l  <25     85.0    22.0

In [29]:
frame[isYounger25].head()

    ID  District   Group  Age  Holders  Claims
0    1         1     <1l  <25      197      38
4    5         1  1-1.5l  <25      284      63
8    9         1  1.5-2l  <25      133      19
12  13         1     >2l  <25       24       4
16  17         2     <1l  <25       85      22

In [30]:
frame.loc[isYounger25,"Holders"].head()

0     197
4     284
8     133
12     24
16     85
Name: Holders, dtype: int64

In [31]:
# powiekszenie wartosci
frame.loc[isYounger25,"Holders"] + 100

0     297
4     384
8     233
12    124
16    185
20    249
24    166
28    109
32    135
36    153
40    124
44    107
48    120
52    131
56    118
60    103
Name: Holders, dtype: int64

In [32]:
frame.loc[isYounger25,"Holders"] = frame.loc[isYounger25,"Holders"] + 100

In [33]:
frame.head()

   ID  District   Group    Age  Holders  Claims
0   1         1     <1l    <25      297      38
1   2         1     <1l  25-29      264      35
2   3         1     <1l  30-35      246      21
3   4         1     <1l    >35     1680     156
4   5         1  1-1.5l    <25      384      63

In [35]:
frame.loc[isYounger25,"Holders"] += 1000

In [36]:
frame.head()

   ID  District   Group    Age  Holders  Claims
0   1         1     <1l    <25     1297      38
1   2         1     <1l  25-29      264      35
2   3         1     <1l  30-35      246      21
3   4         1     <1l    >35     1680     156
4   5         1  1-1.5l    <25     1384      63

In [38]:
frame.loc[isYounger25,"Holders"] = frame.loc["Holders"] + 1000

KeyError: 'Holders'

In [ ]:
# df.loc[index, column] = newValue
# df.loc[index, column] += newValue
# df.loc[filterSeries, column] = newValue
# df.loc[filterSeries, col] = df.loc[filterSeries, col] + newValue
# df.loc[filterSereis, column] = df[col[+ newValue]]