In [2]:
"""1. Zaimportuj moduł pandas i numpy, nadaj im standardowe aliasy. Do zmiennej fuel wczytaj zawartość pliku
fuel.csv. Pobierz następujące kolumny: 'Year','Make','Model','Range (FT1)','City Range (FT1)'. Zdefiniuj
multiindex w oparciu o kolumny 'Year','Make','Model', posortuj dane wg indeksu i wświetl nagłówek obiektu
data frame"""

import pandas as pd
import numpy as np
fuel = pd.read_csv("D:\\Python_Kursy\\Python_Udemy\\Pandas\\course-files\\fuel.csv",
                  usecols=['Year','Make','Model','Range (FT1)','City Range (FT1)'])
fuel.set_index(['Year','Make','Model'],inplace=True)
fuel.sort_index(inplace=True)
fuel.head()

                                   Range (FT1)  City Range (FT1)
Year Make       Model
1984 AM General DJ Po Vehicle 2WD          0.0               0.0
                DJ Po Vehicle 2WD          0.0               0.0
                FJ8c Post Office           0.0               0.0
                FJ8c Post Office           0.0               0.0
     Alfa Romeo GT V6 2.5                  0.0               0.0

In [7]:
"""2. Za chwilę wykonasz pewne przekształcenia na obiekcie fuel. Po każdej zmianie wyświetl rekord, który:
- w indeksie w Year ma wartość 1984
- w Make ma 'Alfa Romeo'
- w Model ma 'Spider Veloce 2000' Teraz wyświetl właśnie te wiersze, które spełniają w/w warunki"""

fuel.loc[1984,'Alfa Romeo','Spider Veloce 2000']

                                    Range (FT1)  City Range (FT1)
Year Make       Model
1984 Alfa Romeo Spider Veloce 2000          0.0               0.0
                Spider Veloce 2000          0.0               0.0

In [5]:
#- w Make ma 'Alfa Romeo'
fuel.loc[1984,'Alfa Romeo']

                    Range (FT1)  City Range (FT1)
Model
GT V6 2.5                   0.0               0.0
GT V6 2.5                   0.0               0.0
Spider Veloce 2000          0.0               0.0
Spider Veloce 2000          0.0               0.0

In [8]:
"""Zamień zerowy segment indeksu z pierwszym. Wynik zapisz ponownie w zmiennej fuel. Dane posortuj wg indeksu"""

fuel = fuel.swaplevel(i=0,j=1).sort_index()

In [9]:
"""4. Wyświetl wybrany wiersz"""

fuel.loc[('Alfa Romeo',1984,'Spider Veloce 2000')]

                                    Range (FT1)  City Range (FT1)
Make       Year Model
Alfa Romeo 1984 Spider Veloce 2000          0.0               0.0
                Spider Veloce 2000          0.0               0.0

In [10]:
"""5. Zamień pierwszy segment indeksu z drugim. Wynik zapisz ponownie w zmiennej fuel. Dane posortuj wg
indeksu"""

fuel = fuel.swaplevel(i=1,j=2).sort_index()

In [11]:
"""6. Wyświetl wybrany wiersz"""

fuel.loc[('Alfa Romeo','Spider Veloce 2000',1984)]

                                    Range (FT1)  City Range (FT1)
Make       Model              Year
Alfa Romeo Spider Veloce 2000 1984          0.0               0.0
                              1984          0.0               0.0